<%- include('header.html') %>

    <body>

        <% if(data !=null) { %>

            <!------------------------------- Stat joueur  ---------------------------------->

            <div class="container">
                <h1>Données de <%=data.name%>
                </h1>
                <h3>(<%=data.tag%>)</h3>
                <div class="character-container">
                    <div class="character">
                        <h3> TROPHEES : <%=data.trophies%>
                                </p>
                                <p> PLUS HAUT TROPHEES : <%=data.highestTrophies%>
                                </p>
                                <p> 3vs3 victoire : <%=data['3vs3Victories']%>
                                </p>
                                <p> Solo Showdown top1 : <%=data.soloVictories%>
                                </p>
                                <p> Duo Showdown top1 : <%=data.duoVictories%>
                        </h3>
                    </div>
                </div>
            </div>


            <!-------------------------------------- Graphique  ----------------------->

           <div class="container" style="height: 450px;">
                <canvas id="ChartTR" width="917" height="500"></canvas>

                <%- include('graph.ejs') %>

            </div>


            <!------------------------------- Brawler affichage  ---------------------------------->


            <div class="container">
                <h2>Brawlers:</h2>

                <form action="/<%= playerName %>" method="get">
                    <label>
                        <input type="radio" name="filter" value="trophies" checked>
                        Trier par Trophées
                    </label>
                    <label>
                        <input type="radio" name="filter" value="highestTrophies">
                        Trier par Meilleurs Trophées
                    </label>
                    <button type="submit">Filtrer</button>
                </form>

                <div class="brawlers-container">
                    <% data.brawlers.forEach(function(brawler) { %>
                        <div class="brawler">
                            <img class="brawler img" src="/src/<%= brawler.id %>.png" alt="<%= brawler.name %> Image">
                            <div class="brawler-details">
                                <h4>
                                    <%= brawler.name %>
                                </h4>
                                <p>Trophées actuels: <%= brawler.trophies %>
                                </p>
                                <p>Trophées les plus élevés: <%= brawler.highestTrophies %>
                                </p>
                                <p>Power: <%= brawler.power %>
                                </p>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>

            <!------------------------------- Brawler affichage  ---------------------------------->


            <% } else { %>
                <div class="container">
                    <h1>Erreur lors de la récupération des données. Veuillez réessayer plus tard.</h1>
                </div>
                <% } %>

    </body>

    </html