<%- include('header.html') %>

<body>

    <div class="container">
        <h1>Données de <%=data.name%> </h1> <h3>(<%=data.tag%>)</h3>
        <div class="character-container">
            <div class="character">
                <h3> TROPHEES : <%=data.trophies%></p> 
                <p> ++ TROPHIES : <%=data.highestTrophies%> </p>
                <p> 3vs3 victoire : <%=data['3vs3Victories']%> </p>
                <p> Solo Showdown top1 : <%=data.soloVictories%> </p>
                <p> Duo Showdown top1 : <%=data.duoVictories%> </h3  >
            </div>
        </div>
    </div>


    
    <div class="container">
        <h2>Brawlers:</h2>
        <div class="character-container">
            <div class="character">
        <% data.brawlers.forEach(function(brawler) { %>
            <li>
                Nom: <%= brawler.name %>, Trophées: <%= brawler.trophies %>
            </li>
        <% }); %>
    </ul>
            </div>
        </div>
    </div>
</body>
</html